@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]
1. Body and some general stuff
2. Header
3. Home
4. Blog
5. Footer


/*********************************
1. Body and some general stuff
*********************************/

*
{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #a5a5a5;
}
div
{
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
  list-style: none;
  margin-bottom: 0px;
}
p
{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 500;
  color: #6d6d6d;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
p:last-of-type
{
  margin-bottom: 0;
}
a
{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
  position: relative;
  color: #FF6347;
}
p a:hover
{
  color: #FFFFFF;
  background: #ffa07f;
}
p a:hover::after
{
  opacity: 0.2;
}
::selection
{
  background: rgba(255,163,123,1);
  color: #ffffff;
}
p::selection
{
  
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  line-height: 1.2;
  color: #393939;
  font-weight: 600;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
  
}
img
{
  max-width: 100%;
}
button:active
{
  outline: none;
}
.form-control
{
  color: #db5246;
}
section
{
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear
{
  clear: both;
}
.clearfix::before, .clearfix::after
{
  content: "";
  display: table;
}
.clearfix::after
{
  clear: both;
}
.clearfix
{
  zoom: 1;
}
.float_left
{
  float: left;
}
.float_right
{
  float: right;
}
.trans_200
{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300
{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400
{
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500
{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height
{
  height: 100%;
}
.super_container
{
  width: 100%;
  overflow: hidden;
}
.prlx_parent
{
  overflow: hidden;
}
.prlx
{
  height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gdaib-background_image
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.nopadding
{
  padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
  height: 100%;
}
.slide
{
  height: 100%;
}
.container_custom .container
{
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.container_custom .container .row
{
  margin-left: 0;
  margin-right: 0;
}
.container_custom .container .row > div[class^='col']
{
  padding-left: 0;
  padding-right: 0;
}
.button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button:hover
{
  box-shadow: 0px 10px 23px rgba(0,0,0,0.15);
}
.button a
{
  display: block;
  height: 100%;
  line-height: 54px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

/*********************************
2. Header
*********************************/


.gdaib-header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
}
.gdaib-header::before
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(0,0,0,0.7);
  content: '';
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.gdaib-header.scrolled::before
{
  height: 100%;
}
.gdaib-header_content
{
  width: 100%;
  height: 128px;
  padding-left: 62px;
  padding-right: 62px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  
}
.gdaib-header.scrolled .gdaib-header_content
{
  height: 90px;
}
.gdaib-logo
{
  width: 130px;
  height: 41px;
  border: solid 2px #ffffff;
  text-align: center;
}
.gdaib-logo a
{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 37px;
}
.gdaib-main_nav ul li:not(:last-of-type)
{
  margin-right: 49px;
}
.gdaib-main_nav ul li a
{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.gdaib-main_nav ul li a:hover,
.gdaib-main_nav ul li.gdaib-active a
{
  color: #ffa37b;
}
.gdaib-book_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  margin-left: 45px;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.gdaib-book_button:hover
{
  background: rgba(255,255,255,0.2);
}
.gdaib-book_button:hover a
{
  color: #ffa37b;
}
.gdaib-book_button a
{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 54px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.gdaib-header_phone
{
  width: 190px;
  height: 54px;
  background: #ffa37b;
  margin-left: 14px;
}
.gdaib-header_phone span
{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 9px;
}
.gdaib-header_phone span::selection
{
  background: #ffffff;
  color: #ffa37b;
}
/*********************************
3. Home
*********************************/

.gdaib-home
{
  width: 100%;
  height: 588px;
  background: #0f0e24;
}
.gdaib-home .gdaib-background_image
{
  opacity: 0.28;
}
.gdaib-home_container
{
  position: absolute;
  top: 60.3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}
.gdaib-home_content
{

}
.gdaib-home_title
{
  font-size: 72px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}
.gdaib-booking_form_container
{
  width: 100%;
  margin-top: 34px;
  padding-left: 78px;
  padding-right: 88px;
}
.gdaib-booking_form
{
  display: block;
  width: 100%;
}
.gdaib-booking_input
{
  width: 100%;
  height: 54px;
  background: rgba(255,255,255,0.2);
  border: solid 2px #ffffff;
  padding-left: 27px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  outline: none;
}
.gdaib-booking_input_container
{
  width: 100%;
}
.gdaib-booking_input_container > div
{
  padding-right: 10px;
}
.gdaib-booking_input_container > div:first-child,
.gdaib-booking_input_container > div:nth-child(2)
{
  width: 32.60869565217391%;
}
.gdaib-booking_input_container > div:nth-child(3),
.gdaib-booking_input_container > div:nth-child(4)
{
  width: 17.39130434782609%;
}
.gdaib-booking_input_b
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

}
.gdaib-booking_input::-webkit-input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_input:-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_input::-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
} 
.gdaib-booking_input:-ms-input-placeholder
{ 
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_input::input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.gdaib-booking_button:hover
{
  background: rgba(255,255,255,0.2);
}

/*********************************
4. Blog
*********************************/

.gdaib-section_padding {
    padding: 90px 0;
}
.gdaib-post {
    position: relative;
}
.gdaib-blog-single-section .gdaib-entry_meta {
    list-style: none;
    overflow: hidden;
    margin-bottom: 25px;
    padding-top: 35px;
}
.gdaib-blog-single-section .gdaib-entry_meta li {
    font-size: 14px;
    float: left;
}
.gdaib-blog-single-section .gdaib-entry_meta li a {
    color: #525252;
    text-transform: uppercase;
}
.gdaib-blog-single-section .gdaib-entry_meta>li:first-child {
    position: relative;
    top: 0px;
}
.gdaib-blog-single-section .gdaib-entry_meta>li+li {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
}
.gdaib-blog-single-section .gdaib-post h2 {
    font-size: 30px;
    /*font-size: 1.875rem;*/
    font-weight: 700;
    margin: 0 0 0.5em;
    color: #283a5e;
}
.gdaib-blog-single-section .gdaib-post p {
    margin-bottom: 1.5em;
    color: #687693;
    line-height: 30px;
}
.gdaib-blog-single-section .gdaib-post blockquote {
    background-color: #f8f8f8;
    padding: 50px 30px 50px 95px;
    margin: 60px 0;
    border: 0;
    line-height: 1.9em;
    position: relative;
    color: #000;
    font-size: 30px;
    font-weight: 500px;
}
.gdaib-blog-single-section .gdaib-tag_share {
    margin: 70px 0;
    box-shadow: 0px 4px 14.1px 0.9px rgba(0, 0, 0, 0.08);
    padding: 35px 25px;
}
.gdaib-blog-single-section .gdaib-tag_share .tag {
    display: inline-block;
    float: left;
}
.gdaib-blog-single-section .gdaib-tag_share ul {
    overflow: hidden;
    list-style: none;
}
.gdaib-blog-single-section .gdaib-tag_share ul li {
    float: left;
    padding: 10px;

}
.gdaib-blog-single-section .gdaib-tag_share .tag a {
    background-color: #f8f8f8;
    display: block;
    padding: 9px 18px;
    color: #525252;
    border-radius: 50px;
}
.gdaib-blog-single-section .gdaib-tag_share .share {
    display: inline-block;
    float: right;
}

.gdaib-blog-single-section .gdaib-tag_share .share a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-size: 0.875rem;
    text-align: center;
    color: #525252;
    border-radius: 50%;
    padding: 0;
    display: block;
    background: #8a8a8a;
}
.gdaib-blog-single-section .gdaib-author_box {
    padding: 45px 50px 35px;
    margin: 70px 0;
    border: 1px solid #e1e1e1;
}
.gdaib-blog-single-section .gdaib-author_box .gdaib-author_avatar {
    float: left;
}
.gdaib-blog-single-section .gdaib-author_box .gdaib-author_avatar img {
    border-radius: 50%;
}
.gdaib-blog-single-section .gdaib-author_box .gdaib-author_content {
    display: block;
    overflow: hidden;
    padding-left: 25px;
}
.gdaib-blog-single-section .gdaib-author_box .author-name {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
    color: #242f6c;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
}
.gdaib-blog-single-section .gdaib-author_box .gdaib-author_content p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;

}
.gdaib-author_btn a {
    padding: 15px 35px;
    background: #f8f8f8;
    display: inline-block;
    border-radius: 40px;
    color: #555555;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area .gdaib-gdaib-comments_title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 1.5em;
    color: #242f6c;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area li>div {
    position: relative;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area li>div {
    background: #f8f8f8;
    padding: 30px;
    margin-bottom: 20px;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area .gdaib-comment-theme {
    position: absolute;
    left: 35px;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area .gdaib-comment-theme img {
    border-radius: 50%;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area .gdaib-comment-main-area {
    padding-left: 130px;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area .gdaib-comments-meta h4 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 1em;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area .gdaib-comments-meta h4 span {
    font-weight: normal;
    text-transform: none;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    color: #666;
    margin-top: 8px;
    font-weight: 400;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area .gdaib-comment-reply-link {
    font-size: 16px;
    color: #ffa37b;
    display: inline-block;
    border-radius: 50px;
    /*display: inline-block;*/
    position: absolute;
    /*top: 20px;*/
    right: 30px;
    font-weight: 700;
}
.gdaib-blog-single-section .gdaib-gdaib-comments_area ol ul {
    padding-left: 30px;
    list-style: none;
}
.gdaib-blog-single-section .gdaib-comment-respond {
    margin-top: 70px;
}
.gdaib-blog-single-section .gdaib-comment-respond .gdaib-comment-reply-title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 1.5em;
    color: #283a5e;
}
.gdaib-blog-single-section .gdaib-comment-respond .gdaib-form_inputs {
    overflow: hidden;
}
.gdaib-blog-single-section .gdaib-comment-respond .gdaib-form_inputs>input:nth-child(1) {
    width: 49%;
    float: left;
}
.gdaib-blog-single-section .gdaib-comment-respond form input, .gdaib-blog-single-section .gdaib-comment-respond form textarea {
    background-color: #f8f8f8;
    width: 100%;
    height: 50px;
    border: 1px solid #f8f8f8;
    padding: 6px 15px;
    margin-bottom: 15px;
    outline: 0;
    box-shadow: none;
    transition: all 0.3s;
}
.gdaib-blog-single-section .gdaib-comment-respond .gdaib-form_inputs>input:nth-child(2) {
    width: 49%;
    float: right;
}
.gdaib-blog-single-section .gdaib-comment-respond form textarea {
    height: 220px;
    padding: 15px;
}
.gdaib-blog-single-section .gdaib-comment-respond .gdaib-form_submit input {
    max-width: 180px;
    background: #ffa37b;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    border: 0;
    outline: 0;
}
.gdaib-page_nav
{
  margin-top: 46px;
}
.gdaib-page_nav ul li:not(:last-of-type)
{
  margin-right: 5px;
}
.gdaib-page_nav ul li a
{
  font-size: 18px;
  font-weight: 600;
  color: #393939;
}
.gdaib-page_nav ul li a:hover,
.gdaib-page_nav ul li.active a
{
  color: #ffa37b;
}
/*********************************
5. Footer
*********************************/

.gdaib-footer
{
  background: #ffffff;
  padding-top: 81px;
}
.gdaib-footer_content
{
  padding-bottom: 52px;
}
.gdaib-footer_logo
{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.gdaib-footer_logo > div:first-of-type
{
  width: 235px;
  height: 74px;
  border: solid 3px #393939;
  font-size: 33.32px;
  font-weight: 600;
  color: #393939;
  line-height: 68px;
}
.gdaib-footer_logo > div:last-of-type
{
  font-size: 16px;
  font-weight: 600;
  color: #393939;
  line-height: 0.75;
  margin-top: 15px;
}
.gdaib-footer_logo a
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.gdaib-footer_row
{
  margin-top: 74px;
}
.gdaib-footer_title
{
  font-size: 18px;
  font-weight: 700;
  color: #393939;
  line-height: 1.2;
}
.gdaib-footer_list
{
  margin-top: 9px;
}
.gdaib-footer_list ul li
{
  font-size: 15px;
  font-weight: 500;
  color: #6d6d6d;
  line-height: 2;
}
.gdaib-newsletter_container
{
  margin-top: 8px;
}
.gdaib-newsletter_form
{
  display: block;
  position: relative;
}
.gdaib-newsletter_input
{
  width: 100%;
  height: 64px;
  background: #ffffff;
  border: none;
  border-bottom: solid 2px #393939;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #393939;
}
.gdaib-newsletter_input::-webkit-input-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_input:-moz-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_input::-moz-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
} 
.gdaib-newsletter_input:-ms-input-placeholder
{ 
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_input::input-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  margin-top: 23px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.gdaib-certificates
{
  padding-left: 12px;
  padding-top: 10px;
}
.gdaib-cert
{
  margin-bottom: 30px;
}
.gdaib-copyright
{
  width: 100%;
  height: 33px;
  background: #ffffff;
  text-align: center;
  line-height: 33px;
  font-size: 15px;
  font-weight: 500;
  color: #6d6d6d;
}
