@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Body and some general stuff
2. Header
3. Home
4. Blog
5. Footer


/*********************************
1. Body and some general stuff
*********************************/

*
{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #a5a5a5;
}
div
{
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
  list-style: none;
  margin-bottom: 0px;
}
p
{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 500;
  color: #6d6d6d;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
p:last-of-type
{
  margin-bottom: 0;
}
a
{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
  position: relative;
  color: #FF6347;
}
p a:hover
{
  color: #FFFFFF;
  background: #ffa07f;
}
p a:hover::after
{
  opacity: 0.2;
}
::selection
{
  background: rgba(255,163,123,1);
  color: #ffffff;
}
p::selection
{
  
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  line-height: 1.2;
  color: #393939;
  font-weight: 600;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
  
}
img
{
  max-width: 100%;
}
button:active
{
  outline: none;
}
.form-control
{
  color: #db5246;
}
section
{
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear
{
  clear: both;
}
.clearfix::before, .clearfix::after
{
  content: "";
  display: table;
}
.clearfix::after
{
  clear: both;
}
.clearfix
{
  zoom: 1;
}
.float_left
{
  float: left;
}
.float_right
{
  float: right;
}
.trans_200
{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300
{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400
{
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500
{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height
{
  height: 100%;
}
.super_container
{
  width: 100%;
  overflow: hidden;
}
.prlx_parent
{
  overflow: hidden;
}
.prlx
{
  height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gdaib-background_image
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.nopadding
{
  padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
  height: 100%;
}
.slide
{
  height: 100%;
}
.container_custom .container
{
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.container_custom .container .row
{
  margin-left: 0;
  margin-right: 0;
}
.container_custom .container .row > div[class^='col']
{
  padding-left: 0;
  padding-right: 0;
}
.button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button:hover
{
  box-shadow: 0px 10px 23px rgba(0,0,0,0.15);
}
.button a
{
  display: block;
  height: 100%;
  line-height: 54px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

/*********************************
2. Header
*********************************/


.gdaib-header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
}
.gdaib-header::before
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(0,0,0,0.7);
  content: '';
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.gdaib-header.scrolled::before
{
  height: 100%;
}
.gdaib-header_content
{
  width: 100%;
  height: 128px;
  padding-left: 62px;
  padding-right: 62px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  
}
.gdaib-header.scrolled .gdaib-header_content
{
  height: 90px;
}
.gdaib-logo
{
  width: 130px;
  height: 41px;
  border: solid 2px #ffffff;
  text-align: center;
}
.gdaib-logo a
{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 37px;
}
.gdaib-main_nav ul li:not(:last-of-type)
{
  margin-right: 49px;
}
.gdaib-main_nav ul li a
{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.gdaib-main_nav ul li a:hover,
.gdaib-main_nav ul li.gdaib-active a
{
  color: #ffa37b;
}
.gdaib-book_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  margin-left: 45px;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.gdaib-book_button:hover
{
  background: rgba(255,255,255,0.2);
}
.gdaib-book_button:hover a
{
  color: #ffa37b;
}
.gdaib-book_button a
{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 54px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.gdaib-header_phone
{
  width: 190px;
  height: 54px;
  background: #ffa37b;
  margin-left: 14px;
}
.gdaib-header_phone span
{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 9px;
}
.gdaib-header_phone span::selection
{
  background: #ffffff;
  color: #ffa37b;
}

/*********************************
3. Home
*********************************/

.gdaib-home
{
  width: 100%;
  height: 588px;
  background: #0f0e24;
}
.gdaib-home .gdaib-background_image
{
  opacity: 0.28;
}
.gdaib-home_container
{
  position: absolute;
  top: 60.3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}
.gdaib-home_content
{

}
.gdaib-home_title
{
  font-size: 72px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}
.gdaib-booking_form_container
{
  width: 100%;
  margin-top: 34px;
  padding-left: 78px;
  padding-right: 88px;
}
.gdaib-booking_form
{
  display: block;
  width: 100%;
}
.gdaib-booking_input
{
  width: 100%;
  height: 54px;
  background: rgba(255,255,255,0.2);
  border: solid 2px #ffffff;
  padding-left: 27px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  outline: none;
}
.gdaib-booking_input_container
{
  width: 100%;
}
.gdaib-booking_input_container > div
{
  padding-right: 10px;
}
.gdaib-booking_input_container > div:first-child,
.gdaib-booking_input_container > div:nth-child(2)
{
  width: 32.60869565217391%;
}
.gdaib-booking_input_container > div:nth-child(3),
.gdaib-booking_input_container > div:nth-child(4)
{
  width: 17.39130434782609%;
}
/*.gdaib-booking_input_a
{
  
}*/
.gdaib-booking_input_b
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

}
.gdaib-booking_input::-webkit-input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_input:-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_input::-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
} 
.gdaib-booking_input:-ms-input-placeholder
{ 
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_input::input-placeholder
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}
.gdaib-booking_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.gdaib-booking_button:hover
{
  background: rgba(255,255,255,0.2);
}

/*********************************
4. Blog
*********************************/

.gdaib-section_padding {
    padding: 90px 0;
}
.gdaib-blog_pg_section .gdaib-blog_content .gdaib-post {
    margin-bottom: 60px;
}
.gdaib-post {
    position: relative;
}
.gdaib-entry_media img {
    width: 100%;
}
.gdaib-blog_pg_section .gdaib-entry_meta {
    list-style: none;
    overflow: hidden;
    margin-bottom: 25px;
    padding-top: 20px;
}
.gdaib-blog_pg_section .gdaib-entry_meta > li:first-child {
    position: relative;
}
.gdaib-blog_pg_section .gdaib-entry_meta li {
    font-size: 0.875rem;
    float: left;
    color: rgb(146, 152, 164);
    text-transform: uppercase;
    font-weight: 500;
}
.gdaib-blog_pg_section .gdaib-entry_meta>li+li {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
}
.gdaib-blog_pg_section .gdaib-entry_meta li a {
    color: rgb(82, 82, 82);
    font-weight: 600;
}
.gdaib-blog_pg_section .gdaib-entry_meta > li:last-child {
    position: relative;
}
.gdaib-blog_pg_section .gdaib-post h3 {
    font-size: 20px;
    font-size: 1.75rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: -0.27em 0 0.7em;
}
.gdaib-blog_pg_section .gdaib-post p {
    margin-bottom: 1.5em;
    font-size: 18px;
}
.gdaib-entry_bottom {
    display: flex;
    justify-content: space-between;
}
.gdaib-blog_pg_section .gdaib-post .gdaib-read_more {
    font-weight: 700;
    background: #ffa37b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffa37b;
}
.gdaib-entry_bottom ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.gdaib-blog_thumb_badge {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 99;
}
.gdaib-blog_thumb_text span {
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: #ffa37b;
    border-radius: 5px;
    font-size: 14px;
}
.gdaib-post-text-wrap {
    padding: 40px;
    background: #f5fbf9;
}
.gdaib-page_nav
{
  margin-top: 46px;
}
.gdaib-page_nav ul li:not(:last-of-type)
{
  margin-right: 5px;
}
.gdaib-page_nav ul li a
{
  font-size: 18px;
  font-weight: 600;
  color: #393939;
}
.gdaib-page_nav ul li a:hover,
.gdaib-page_nav ul li.active a
{
  color: #ffa37b;
}
/*********************************
5. Footer
*********************************/

.gdaib-footer
{
  background: #ffffff;
  padding-top: 81px;
}
.gdaib-footer_content
{
  padding-bottom: 52px;
}
.gdaib-footer_logo
{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.gdaib-footer_logo > div:first-of-type
{
  width: 235px;
  height: 74px;
  border: solid 3px #393939;
  font-size: 33.32px;
  font-weight: 600;
  color: #393939;
  line-height: 68px;
}
.gdaib-footer_logo > div:last-of-type
{
  font-size: 16px;
  font-weight: 600;
  color: #393939;
  line-height: 0.75;
  margin-top: 15px;
}
.gdaib-footer_logo a
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.gdaib-footer_row
{
  margin-top: 74px;
}
.gdaib-footer_title
{
  font-size: 18px;
  font-weight: 700;
  color: #393939;
  line-height: 1.2;
}
.gdaib-footer_list
{
  margin-top: 9px;
}
.gdaib-footer_list ul li
{
  font-size: 15px;
  font-weight: 500;
  color: #6d6d6d;
  line-height: 2;
}
.gdaib-newsletter_container
{
  margin-top: 8px;
}
.gdaib-newsletter_form
{
  display: block;
  position: relative;
}
.gdaib-newsletter_input
{
  width: 100%;
  height: 64px;
  background: #ffffff;
  border: none;
  border-bottom: solid 2px #393939;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #393939;
}
.gdaib-newsletter_input::-webkit-input-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_input:-moz-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_input::-moz-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
} 
.gdaib-newsletter_input:-ms-input-placeholder
{ 
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_input::input-placeholder
{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #6d6d6d !important;
}
.gdaib-newsletter_button
{
  width: 152px;
  height: 54px;
  background: #ffa37b;
  margin-top: 23px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.gdaib-certificates
{
  padding-left: 12px;
  padding-top: 10px;
}
.gdaib-cert
{
  margin-bottom: 30px;
}
.gdaib-copyright
{
  width: 100%;
  height: 33px;
  background: #ffffff;
  text-align: center;
  line-height: 33px;
  font-size: 15px;
  font-weight: 500;
  color: #6d6d6d;
}
